/* Общие стили для полос прокрутки */
textarea::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
}

/* Стили для вертикальной полосы прокрутки */
textarea::-webkit-scrollbar-thumb {
    background-color: rgb(254, 114, 101); /* Цвет фона полосы прокрутки */
    border-radius: 6px; /* Радиус скругления углов */
}

/* Стили для трека вертикальной полосы прокрутки */
textarea::-webkit-scrollbar-track {
    background-color: rgba(1, 3, 26, 1); /* Цвет фона трека */
}

/* Стили для кнопок прокрутки (стрелок) */
textarea::-webkit-scrollbar-button {
    display: none; /* Скрыть кнопки прокрутки */
}

textarea {
    resize: none;
}

.checkout-icon {
    color: #d9d9d9;
    top: 20px;
    left: 840px;
    position: absolute;
    width: 49px;
    height: 49px;
}

.delete-icon {
    color: #d9d9d9;
    top: 20px;
    left: 980px;
    position: absolute;
    width: 49px;
    height: 49px;
}

.snapshot-icon {
    color: #d9d9d9;
    top: 20px;
    left: 1120px;
    position: absolute;
    width: 49px;
    height: 49px;
}

.profile-icon {
    color: #d9d9d9;
    top: 20px;
    left: 1260px;
    position: absolute;
    width: 49px;
    height: 49px;
}

.editor-frame-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.editor-frame-frame13 {
    width: 100%;
    height: 844px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(1, 3, 26, 1);
}

.editor-frame-editor {
    top: 79px;
    left: 501px;
    width: 860px;
    height: 750px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: rgb(254, 114, 101);
    border-width: 3px;
    border-radius: 39px;
    background-color: rgba(1, 3, 26, 1);
}

.editor-frame-versions {
    top: 79px;
    left: 56px;
    width: 400px;
    height: 750px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: rgb(81, 208, 210);
    border-width: 3px;
    border-radius: 39px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(1, 3, 26, 1);
}

.editor-frame-text {
    top: 32px;
    left: 23px;
    color: rgba(217, 217, 217, 1);
    background-color: rgba(1, 3, 26, 1);
    width: 810px;
    min-width: 810px;
    min-height: 680px;
    position: absolute;
    font-size: 26px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    border: none;
    outline: none;
}

.editor-frame-version::-webkit-scrollbar {
    height: 8px; /* Высота горизонтальной полосы прокрутки */
}

.editor-frame-version::-webkit-scrollbar-track {
    background-color: rgba(1, 3, 26, 1); /* Цвет фона трека */
    margin: 28px
}

.editor-frame-version::-webkit-scrollbar-thumb {
    background: rgb(81, 208, 210); /* Цвет полосы прокрутки */
    border-radius: 6px; /* Радиус скругления углов полосы прокрутки */
}

.editor-frame-versions::-webkit-scrollbar {
    width: 10px;
}

.editor-frame-versions::-webkit-scrollbar-track {
    background-color: rgba(1, 3, 26, 1); /* Цвет фона трека */
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 6px;

}

.editor-frame-versions::-webkit-scrollbar-thumb {
    background: rgb(81, 208, 210); /* Цвет полосы прокрутки */
    border-radius: 6px; /* Радиус скругления углов полосы прокрутки */
}

.editor-frame-version {
    border-color: rgba(81, 208, 210, 1);
    border-style: solid;
    border-width: 3px;
    border-radius: 39px;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    color: rgba(217, 217, 217, 1);
    background-color: rgba(1, 3, 26, 1);
    padding: 10px;
    overflow: auto;
    margin: 22px;
    width: 350px
}


.editor-frame-snapshots {
    top: 23px;
    left: 143px;
    color: rgba(217, 217, 217, 1);
    width: 225px;
    height: auto;
    position: absolute;
    font-size: 42px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.editor-frame-versa-editor {
    top: 23px;
    left: 533px;
    color: rgba(217, 217, 217, 1);
    width: 260px;
    height: auto;
    position: absolute;
    font-size: 42px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}