.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  color: rgba(217, 217, 217, 1);
  justify-content: center;
  background-color: rgba(1, 3, 26, 1);
}
.not-found-container1 {
  display: flex;
  color: rgba(217, 217, 217, 1);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-text1 {
  color: rgb(254, 114, 101);
  font-size: 252px;
  margin-top: -20px;
  font-weight: 900;
  margin-bottom: -20px;
  letter-spacing: -20px;
}
.not-found-container2 {
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgba(217, 217, 217, 1);
}
.not-found-text2 {
  text-align: center;
  color: rgba(217, 217, 217, 1);
  font-weight: 400;
}
